/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font),fantasy,monospace, sans-serif;
  font-variation-settings: "wght" var(--main-weight-text);
  font-size: var(--main-font-size);
  color: var(--accent-color);
  background-color: #1a1a1a;
  background-image: var(--main-bg);
  background-position: cover;
  background-attachment: fixed;
}

.header {
  margin: 100px auto;
  display: flex;
  border: var(--main-border);
  background-color: var(--main-color);
}

.block_width {
  inline-size: var(--main-inline-size);
}

.header__logo {
  margin: clamp(120px, 0.751vw + 7.324rem, 128px) auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__logo_title {
  font-family: var(--accent-font);
  font-weight: inherit;
  font-size: var(--accent-font-size-title);
  text-transform: uppercase;
}

.header__logo_subtitle {
  font-size: var(--accent-font-size-subtitle);
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 53px;
}

.card-list-item {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  background-color: var(--main-color);
  border: var(--main-border);
}

.card__title {
  margin: 3.5px 10px;
  font-family: inherit;
  font-variation-settings: "wght" var(--main-weight-title);
  font-size: var(--main-font-size);
  color: inherit;
  vertical-align: middle;
}

.card__image {
  position: relative;
}

.card__image-watermark {
  position: absolute;
  inset-block-start: 27px;
  inset-inline-end: clamp(13px, 1.315vw + 0.504rem, 27px);
  display: flex;
  justify-content: end;
  font-family: var(--accent-font);
  font-weight: inherit;
  font-size: var(--accent-font-size);
  opacity: 0.5;
  text-transform: uppercase;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__image-watermark {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.image {
  position: relative;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  border-block-start: var(--main-border);
  border-block-end: var(--main-border);
}

.image__filter-brightness {
  filter: brightness(80%);
}

.image__filter-contrast {
  filter: contrast(200%);
}

.image__filter-saturate {
  filter: saturate(180%);
}

.image__filter-invert {
  filter: invert(20%);
}

.image__filter-sepia {
  filter: sepia(50%);
}

.image__filter-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.image__filter-contrast-brightness {
  filter: contrast(150%) brightness(130%);
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__content-text {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-family: inherit;
  font-variation-settings: inherit;
  font-size: var(--main-font-size);
  line-height: 21px;
}

.button {
  position: relative;
  background-color: var(--main-color);
  border: var(--main-border);
  display: flex;
  justify-content: center;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card__button {
  display: flex;
  justify-content: end;
  gap: 7px;
}

.card__icon-button {
  position: relative;
  padding: 0;
  background-color: var(--main-color);
  display: flex;
  border:2px solid transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--main-border);
}

.card__like-button {
  padding: 10.5px 0;
  inline-size: 130px;
}

.sparks {
  fill: none;
}

.core {
  fill:transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill:transparent;
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--animation-contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--animation-contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 4px 4px 0 0 var(--accent-color);
}

.button::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--accent-font);
  font-weight: inherit;
  font-size: var(--accent-font-size);
  line-height: 90%;
}

.main__button {
  margin: 50px auto clamp(100px, 0.282vw + 6.184rem, 103px);
  inline-size: clamp(310px, 2.723vw + 18.737rem, 339px);
  block-size: clamp(51px, 5.9762rem + -3.0986vw, 84px);
  background-color: var(--main-color);
  align-items: center;
  gap: 8px;
}

.button__icon {
  stroke: var(--main-color);
  fill: var(--main-color);
  width: clamp(21px, 1.904rem + -0.657vw, 28px);
  height: clamp(21px, 1.904rem + -0.657vw, 28px);
}

.button__text,
.button__icon {
  position: relative;
  z-index: 1;
  color: var(--main-color);
  mix-blend-mode: difference;
}

.main__dialog {
  position: fixed;
  inset: 0;
}

.main__dialog[open] {
  padding: 28px 30px;
  inline-size: clamp(341px, 1.127vw + 21.048rem, 353px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__dialog::backdrop {
  background-color: var(--accent-color);
  opacity: 0.75;
}

.dialog_content {
  display: flex;
  gap: 20px;
}

.dialog__icon {
  align-self: center;
  width: 39px;
  height: 39px;
}

.dialog__text {
  inline-size: clamp(198px, 3.38vw + 11.583rem, 234px);
  font-family: var(--accent-font);
  font-weight: var(--main-weight-text);
  font-size: var(--accent-font-size);
  line-height: 150%;
  text-transform: uppercase;
}

.close-button {
  padding: 10.5px 0;
  inline-size: 100%;
  align-items: center;
  background-color: var(--main-color);
  text-transform: uppercase;
}

@media (width < 376px) {
  .main__button {
    flex-direction: column;
  }
}
